body{

    font-family: 'Poppins', sans-serif;

}     

.flexible{

    display: flex;

}

#background-img{

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.welcome{

    font-size: 2rem;

}

.red{

    color: red;
    font-size: 2rem;

}

.orange{

    color: orange;

}


.half-width{

    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 50px;
    margin-top: 5%;

}

.image img{

width: 80%;
height: 80%;
padding-top: 20px;

}


a{

    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    color: white;
    padding: 6px 12px;
    border-radius: 10px;

}

.experiences{

    color: red;
    font-size: 2rem;
    margin-left: 5%;

}

.border-edit{

    box-shadow: 10px 10px 35px gray;
    width: 40%;
    padding-left: 10px;
    margin-left: 5%;
    margin-right: 5%;

}

#noob-experience{

    border-left: 5px solid;
    border-image: linear-gradient(red,yellow);
    border-image-slice: 1;

}

#stack-experience{

    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;

}

#footer{

    text-align: center

}
